#portfolio {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  width: 100%;
  padding: 0;
  background: none;
}

#portfolio__button-group {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.btn-stroked {
  font-weight: 400;
  margin-top: 20px;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.project-container {
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.project-content {
  padding: 0px;
}

.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.project-image img:hover {
  transform: scale(1.02);
}

.portfolio__project-description p {
  font-size: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.img-btn-git {
  width: 30px;
  height: 30px;
  color: var(--text-color);
  margin-right: 6px;
}

.btn-dark {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  width: 40%;
  justify-content: center;
}

.btn-dark:hover {
  background-color: var(--btn-bg);
  color: var(--btn-text);
}

/* Estilo para la card de tecnologías */
.tech-carrousel-container {
  margin-top: 0px;
  padding: 0px;
  position: relative;
}

.tech-card {
  border: none;
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  background-color: var(--card-bg);
}

.tech-card .card-title {
  font-family: "Raleway", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 0px;
}

.card-body {
  padding: 0px;
  background-color: var(--card-bg);
}

/* Estilo para las imágenes del carrusel */
.tech-logo {
  height: 50px; /* Ajusta según el tamaño deseado */
  max-width: 100%;
  object-fit: contain;
}

.carousel-inner .techs {
  display: flex;
  justify-content: center;
}

