.portfolio-item {
  display: block; /* Asegúrate de que el contenedor sea visible */
  width: 100%; /* O el ancho que necesites */
  height: auto; /* Ajusta según el contenido */
  opacity: 1; /* Esto es importante si estás aplicando transiciones */
  transition: opacity 0.6s ease-in-out; /* Para efectos suaves */
}
/* Estilos del proyecto */
.project-container {
  min-height: 520px;
  max-height: 600px;
  width: 100%;
  box-sizing: border-box;
}

.project-content {
  padding: 0px;
}

.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.project-image img:hover {
  transform: scale(1.02);
}

.portfolio__project-description {
  margin-top: 20px;
}

.portfolio__project-description h4 {
  text-align: center;
  font-family: var(--default-font);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1.2rem;
  color: var(--text-color);
}
.portfolio__project-description p {
  font-family: var(--default-font);
  letter-spacing: 1px;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Botón e Imágen de los botones de cada proyecto */
.btn-dark {
  background-color: transparent;
  color: var(--text-color);
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid var(--text-color);
  width: 60%;
  font-family: var(--default-font);
  justify-content: center;
  padding: 8px 8px;
  margin: 0 auto;
}

.btn-dark:hover {
  background-color: var(--btn-bg);
  color: var(--btn-text);
}

.img-btn {
  width: auto;
  height: 40px;
  margin-right: 6px;
}


/* Estilos del contenedor de los slides para mood, y cards para Pancho */
.bottom-container {
  margin-top: 0px;
  padding: 0px;
  position: relative;
}

/* Estilo para la card de tecnologías */
.tech-card {
  border: none;
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  background-color: var(--card-bg);
}

.tech-card .tech-card-title {
  font-family: var(--default-font);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 0px;
}

.tech-card-body {
  padding: 0px;
  background-color: var(--card-bg);
}

/* Estilo para las imágenes del carrusel */
.tech-logo {
  height: 50px; /* Ajusta según el tamaño deseado */
  max-width: 100%;
  object-fit: contain;
}

.carousel-inner .techs {
  display: flex;
  justify-content: center;
}

/* Estilos de las cards del proyecto Pancho Viña */
.labor-card {
  background-color: transparent;
  color: var(--text-color);
  border-radius: 10px;
}

.labor-card-title {
  font-family: var(--default-font);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 1rem;
  color: var(--text-color);
}

.labor-card-title img {
  align-items: center;
}

.labor-card-body {
  font-family: var(--default-font);
  letter-spacing: 1px;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.labor-card-icons {
  height: 40px;
  width: auto;
  vertical-align: middle;
}
