<!-- Section Title -->
<div class="container section-title" data-aos="fade-up" style="margin-top: 60px;">
  <span>Portfolio</span>
  <h2>Portfolio</h2>
</div><!-- End Section Title -->

<div class="container" style="margin-bottom: 80px;">

  <div data-default-filter="*" data-layout="masonry" data-sort="original-order">

    <div class="portfolio-filters" data-aos="fade-up" data-aos-delay="100">
      <button type="button" [class.selected]="selectedProject === 2" (click)="showProject(2)">
        Pancho Viña
      </button>

      <button type="button" [class.selected]="selectedProject === 1" (click)="showProject(1)"
        style="margin-left: 20px;">
        MoodShare App
      </button>

      <button type="button" [class.selected]="selectedProject === 3" (click)="showProject(3)"
        style="margin-left: 20px;">
        Más...
      </button>
    </div>

    <!-- Contenedor de proyectos -->
    <div class="project-container" data-aos="fade-up" data-aos-delay="100">
      <!-- MoodShare App con carrusel de imágenes -->
      <div *ngIf="selectedProject === 1" class="col-md-12" data-aos="fade-up" data-aos-delay="100">
        <!-- Contenedor de imágenes y descripción -->
        <div class="row project-content">
          <!-- Columna izquierda: Carrusel de imágenes -->
          <div class="col-md-6 project-image">
            <div id="moodshareCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#moodshareCarousel" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="0"></button>
                <button type="button" data-bs-target="#moodshareCarousel" data-bs-slide-to="1" aria-label="1"></button>
                <button type="button" data-bs-target="#moodshareCarousel" data-bs-slide-to="2" aria-label="2"></button>
                <button type="button" data-bs-target="#moodshareCarousel" data-bs-slide-to="3" aria-label="3"></button>
                <button type="button" data-bs-target="#moodshareCarousel" data-bs-slide-to="4" aria-label="4"></button>
                <button type="button" data-bs-target="#moodshareCarousel" data-bs-slide-to="5" aria-label="5"></button>
              </div>

              <div class="carousel-inner">
                <div *ngFor="let img of imgsMood; let i = index" class="carousel-item" [class.active]="i === 0">
                  <img class="d-block w-100" [src]="img.src" [alt]="img.alt" />
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#moodshareCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#moodshareCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>

          <!-- Columna derecha: Descripción del proyecto -->
          <div class="col-md-6 portfolio__project-description">
            <h4>MoodShare App</h4>
            <p>MoodShare es una aplicación inspirada en mi amor por la música y el deseo de compartirlo con los demás.
              Su
              objetivo principal es ofrecer una plataforma para compartir gustos musicales con otros usuarios, por
              ejemplo,
              entre los empleados de una compañía, alumnos de una institución, etc.<br />
              Desarrollada con Angular 16, Spring Boot y el servicio API de Discogs.
            </p>
            <div class="row boton-go justify-content-center">
              <a href="https://github.com/sebastianvillegas7/MoodShareFrontEnd" target="_blank" class="btn-dark">
                <img src="assets/img/tecs/git-icon.png" alt="GitHub" class="img-btn" />
                Ver Repositorio en GitHub
              </a>
            </div>
          </div>
        </div>

        <!-- Tarjetas tecs utilizadas -->
        <div class="row mt-4">
          <div class="col-md-12 tech-carrousel-container">
            <div class="card tech-card mt-3">
              <div class="tech-card-body">
                <div id="techCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                  <div class="carousel-inner techs">
                    <div class="carousel-item" *ngFor="let group of groupImages(tecnologias, 5); let i = index"
                      [class.active]="i === 0">
                      <div class="d-flex justify-content-around">
                        <img *ngFor="let image of group" [src]="image.src" [alt]="image.alt" class="tech-logo mx-2" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pancho Viña -->
      <div *ngIf="selectedProject === 2" class="col-md-12" data-aos="fade-up" data-aos-delay="100">
        <!-- Contenedor de imágenes y descripción -->
        <div class="row project-content">
          <!-- Columna izquierda: Carrusel de imágenes -->
          <div class="col-md-6 project-image">
            <div id="panchoCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#panchoCarousel" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="0"></button>
                <button type="button" data-bs-target="#panchoCarousel" data-bs-slide-to="1" aria-label="1"></button>
                <button type="button" data-bs-target="#panchoCarousel" data-bs-slide-to="2" aria-label="2"></button>
                <button type="button" data-bs-target="#panchoCarousel" data-bs-slide-to="3" aria-label="3"></button>
                <button type="button" data-bs-target="#panchoCarousel" data-bs-slide-to="4" aria-label="4"></button>
                <button type="button" data-bs-target="#panchoCarousel" data-bs-slide-to="5" aria-label="5"></button>
              </div>

              <div class="carousel-inner">
                <div *ngFor="let img of imgsPancho; let i = index" class="carousel-item" [class.active]="i === 0">
                  <img class="d-block w-100" [src]="img.src" [alt]="img.alt" />
                </div>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#panchoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#panchoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>

          <!-- Columna derecha: Descripción del proyecto -->
          <div class="col-md-6 portfolio__project-description justify-content-center">
            <h4>Pancho Viña</h4>
            <p>Actualmente colaboro con esta tienda de vinos y productos gourmet en pleno crecimiento, ubicada en el
              corazón de Madrid. Mi labor se centra en la expansión de su presencia digital y el fortalecimiento de su
              marca en línea.
            </p>
            <div class="row boton-go justify-content-center">
              <a href="https://www.panchovina.com" target="_blank" class="btn-dark">
                <img src="assets/img/tecs/pancho-icon.png" alt="Pancho Viña" class="img-btn" />
                Visitar sitio web
              </a>
            </div>
          </div>

          <!-- Tarjetas labors -->
          <div class="row mt-4">
            <div class="col-md-12 bottom-container">
              <div class="d-flex justify-content-around" style="margin-top: 40px;">
                <!-- Punto 1 -->
                <div class="col-md-3">
                  <div class="card labor-card h-100 shadow-sm border-0">
                    <div class="labor-card-body">
                      <h4 class="labor-card-title">
                        Administración Web
                      </h4>
                      <p class="labor-card-text">
                        Gestión del e-shop y sitio web desarrollados con Shopify.
                      </p>
                      <img src="assets/img/tecs/shopify.png" alt="Shopify" class="labor-card-icons" />
                    </div>
                  </div>
                </div>
                <!-- Punto 2 -->
                <div class="col-md-3">
                  <div class="card labor-card h-100 shadow-sm border-0">
                    <div class="labor-card-body">
                      <h4 class="labor-card-title">Redes Sociales</h4>
                      <p class="labor-card-text">
                        Creación y administración de perfiles en redes sociales.
                      </p>
                    </div>
                    <div class="d-flex labor-card-icons">
                      <svg height="90%"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
                        version="1.1" viewBox="0 0 512 512" width="90%" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                          d="M449.446,0c34.525,0 62.554,28.03 62.554,62.554l0,386.892c0,34.524 -28.03,62.554 -62.554,62.554l-106.468,0l0,-192.915l66.6,0l12.672,-82.621l-79.272,0l0,-53.617c0,-22.603 11.073,-44.636 46.58,-44.636l36.042,0l0,-70.34c0,0 -32.71,-5.582 -63.982,-5.582c-65.288,0 -107.96,39.569 -107.96,111.204l0,62.971l-72.573,0l0,82.621l72.573,0l0,192.915l-191.104,0c-34.524,0 -62.554,-28.03 -62.554,-62.554l0,-386.892c0,-34.524 28.029,-62.554 62.554,-62.554l386.892,0Z"
                          style="fill:#1777f2;" />
                      </svg>
                      <svg height="100%" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
                        width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="_x36_2-instagram">
                          <g>
                            <linearGradient gradientUnits="userSpaceOnUse" id="SVGID_1_" x1="65.9038" x2="446.3573"
                              y1="444.4766" y2="64.0231">
                              <stop offset="0" style="stop-color:#FFC107" />
                              <stop offset="0.2211" style="stop-color:#F98D1C" />
                              <stop offset="0.5137" style="stop-color:#F1423B" />
                              <stop offset="0.8329" style="stop-color:#B93088" />
                              <stop offset="0.9944" style="stop-color:#9C27B0" />
                            </linearGradient>
                            <path
                              d="M343.193,22H168.32C87.854,22,23,86.863,23,166.958v174.079    C23,421.137,87.854,487,168.32,487h174.873C423.66,487,490,421.137,490,341.037V166.958C490,86.863,423.66,22,343.193,22z     M446,341.037C446,397.025,399.438,443,343.193,443H168.32C112.071,443,66,397.025,66,341.037V166.958    C66,110.973,112.071,65,168.32,65h174.873C399.438,65,446,110.973,446,166.958V341.037z"
                              style="fill:url(#SVGID_1_);" />
                            <linearGradient gradientUnits="userSpaceOnUse" id="SVGID_2_" x1="173.5107" x2="338.0032"
                              y1="336.2451" y2="171.7527">
                              <stop offset="0" style="stop-color:#FFC107" />
                              <stop offset="0.2211" style="stop-color:#F98D1C" />
                              <stop offset="0.5137" style="stop-color:#F1423B" />
                              <stop offset="0.8329" style="stop-color:#B93088" />
                              <stop offset="0.9944" style="stop-color:#9C27B0" />
                            </linearGradient>
                            <path
                              d="M255.756,137.947c-64.382,0-116.581,51.961-116.581,116.055    c0,64.085,52.199,116.045,116.581,116.045c64.383,0,116.58-51.96,116.58-116.045C372.336,189.908,320.139,137.947,255.756,137.947    z M255.756,326.531c-40.164,0-72.86-32.551-72.86-72.529c0-40.016,32.696-72.534,72.86-72.534    c40.162,0,72.861,32.519,72.861,72.534C328.617,293.98,295.918,326.531,255.756,326.531z"
                              style="fill:url(#SVGID_2_);" />
                            <linearGradient gradientUnits="userSpaceOnUse" id="SVGID_3_" x1="370.1182" x2="392.037"
                              y1="140.2031" y2="118.2843">
                              <stop offset="0" style="stop-color:#FFC107" />
                              <stop offset="0.2211" style="stop-color:#F98D1C" />
                              <stop offset="0.5137" style="stop-color:#F1423B" />
                              <stop offset="0.8329" style="stop-color:#B93088" />
                              <stop offset="0.9944" style="stop-color:#9C27B0" />
                            </linearGradient>
                            <path
                              d="M381.08,113.779c-8.581,0-15.538,6.924-15.538,15.463c0,8.54,6.957,15.467,15.538,15.467    c8.573,0,15.532-6.927,15.532-15.467C396.612,120.703,389.653,113.779,381.08,113.779z"
                              style="fill:url(#SVGID_3_);" />
                          </g>
                        </g>
                        <g id="Layer_1" />
                      </svg>
                    </div>
                  </div>
                </div>
                <!-- Punto 3 -->
                <div class="col-md-3">
                  <div class="card labor-card h-100 shadow-sm border-0">
                    <div class="labor-card-body">
                      <h4 class="labor-card-title">Marketing Digital</h4>
                      <p class="labor-card-text">
                        Diseño e implementación de estrategias de marketing digital.
                      </p>
                      <img src="assets/img/tecs/market.png" alt="Marketing Digital" class="labor-card-icons" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Proyecto adicional -->
      <div *ngIf="selectedProject === 3" class="col-md-12 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="col-md-6 project-image">
          <!-- Puedes agregar una imagen o dejar este espacio vacío -->
        </div>
        <div class="col-md-6 portfolio__project-description">
          <p>Más proyectos disponibles en mi
            <a href="https://github.com/tu-usuario" target="_blank">perfil de GitHub</a>.
          </p>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
