#portfolio {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  width: 100%;
  padding: 0;
  background: none;
}

#portfolio__button-group {
  text-align: center;
  margin-bottom: 10px;
}

.btn-stroked {
  font-weight: 400;
  margin-top: 20px;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 15px;
  transition: all 0.3s ease;
}

#portfolio p {
  font-size: 1em;
}

.project-container {
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.project-image img:hover {
  transform: scale(1.02);
}
.portfolio__project-description h4 {
  margin-bottom: 10px;
}

.portfolio__project-description p {
  font-size: 16px;
}

/* Estilo para la card de tecnologías */
.tech-card {
  border: none;
  width: 100%;
  margin-top: 10px;
  background-color: var(--card-bg);
}

.tech-card .card-title {
  font-family: "Raleway", serif;
  letter-spacing: 4px;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 40px;
}

/* Estilo del contenedor del carrusel */
.tech-carousel-container {
  height: 80px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: transparent;
}

/* Contenedor del carrusel */
.tech-carousel-wrapper {
  display: flex;
  width: 100%;
}

/* Carrusel de imágenes */
.tech-carousel {
  display: flex;
  gap: 80px;
  width: calc(200%);
  animation: scroll 40s linear infinite;
  will-change: transform;
}

.tech-logo {
  height: 50px; /* Ajusta según el tamaño deseado */
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
