<header id="header" class="header fixed-top">
  <div class="branding d-flex align-items-center">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="#hero" class="logo d-flex align-items-center">
        <h1 class="sitename">Sebastián Villegas</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Inicio</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </div>
</header>

<main class="main">
  <!-- Inicio -->
  <section id="hero" class="hero section dark-background">
    <app-intro />
  </section>

  <!-- Sección del Portafolio -->
  <section id="portfolio" class="portfolio section">
    <app-portfolio />
  </section>

  <!-- Sección de Contacto -->
  <section id="contact" class="call-to-action section dark-background">
    <app-contact />
  </section>
</main>

<!-- Footer -->
<footer id="footer" class="footer position-relative dark-background">

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Sebastian Villegas</strong> <span>All Rights
        Reserved</span></p>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>

</footer>
