<div class="custom-container">
  <!-- Introducción -->
  <header class="row">
    <div class="col">
      <app-intro/>
    </div>
  </header>

  <!-- Sección del Portafolio -->
  <main class="row">
    <div class="col">
      <app-portfolio/>
    </div>
  </main>

  <!-- Sección de Contacto -->
  <section class="row">
    <div class="col">
      <app-contact/>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer" class="bg-dark">
    <div class="container text-center">
      <p>&copy; 2024 Sebastián Villegas. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>
