/* Contact Section */
#contact {
  position: relative;
  background-image: url('../../../assets/img/contact-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  padding: 0;
  text-align: center;
}
#contact h2 {
	font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 3rem;
  font-style: normal;
  color: rgb(207, 207, 207);
  letter-spacing: 6px;
  margin-bottom: 60px;
  margin-top: 80px;
}
#contact img {
	width: 140px;
	margin: 5px 30px 10px 0;
}
#contact p {
	color: #666;
	margin-bottom: 20px;
	line-height: 24px;
}
#contact .social {
	margin-top: 40px;
}
#contact .social ul li {
	display: inline-block;
	margin-right: 20px;
}
#contact .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #777;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #eee;
}
#contact form {
	padding: 0;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 50%;
	padding: 6px 12px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	color: #aaa;
	background-color: #444;
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .btn-default {
	font-weight: 400;
	color: #666;
	background-color: transparent;
	border: 2px solid #666;
	padding: 10px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	margin-top: 20px;
	text-transform: uppercase;
	transition: all 0.3s;
}
#contact .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #666;
	color: #999;
}
