/* Contact Section */
#contact {
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  padding: 0;
  text-align: center;
  background: none;
  margin-top: 500px;
}

#contact img {
  width: 140px;
  margin: 5px 30px 10px 0;
}

#contact p {
  margin-bottom: 20px;
  line-height: 24px;
}

/* Estilo de la card */
.contact-card {
  background-color: var(--card-bg);
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.056); /* Sombra sutil */
  border: none;
  padding: 20px;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#contact .form-control:focus {
  border-color: transparent;
  outline: none;
  box-shadow: none;
}

/* Estilo del botón "stroked" */
.btn-stroked {
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 20px;
  width: 400px;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/* Responsividad */
@media (max-width: 768px) {
  .custom-container {
    padding: 0 10px;
  }

  header, main, section {
    padding: 0;
  }
}
