<img src="assets/img/cta-bg.jpg" alt="">

<div class="container">
  <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
    <!-- Contact Section -->
    <div id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Contacto</span>
        <h2>Contacto</h2>
      </div><!-- End Section Title -->

      <div class="container p-4" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 mt-1">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="contact-card">
              <a href="index.html" class="logo sitename">SEBASTIÁN VILLEGAS</a>
              <div class="pt-3">
                <p class="mt-3"><i class="bi bi-geo-alt"></i> España</p>
                <p class="mt-3"><i class="bi bi-telephone"></i> <span> +34 611 15 49-56</span></p>
                <p class="mt-3"><i class="bi bi-envelope"></i> <span> zebavillegas&#64;gmail.com</span></p>
              </div>
              <div class="contact-card-social-links d-flex mt-4">
                <a href="https://github.com/sebastianvillegas7?tab=repositories" target="_blank"><i
                    class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/sebastianvillegas7/" target="_blank"><i
                    class="bi bi-linkedin"></i></a>
              </div>
            </div>

          </div><!-- End Contact Card -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">

              <div class="container-contact-form">
                <div class="screen">
                  <div class="screen-body">
                    <div class="screen-body-item">
                      <form class="app-form" (ngSubmit)="enviarFormulario(form)" #form="ngForm">
                        <!-- <input type="hidden" name="access_key" value="8f4ef6e0-3eb4-435a-a6c2-5317492bf385"> -->
                        <div class="app-form-group">
                          <input class="app-form-control" type="text" name="nombre" placeholder="Tu nombre" required
                            ngModel>
                        </div>

                        <div class="app-form-group">
                          <input class="app-form-control" type="email" name="email" placeholder="Tu correo electrónico" required ngModel>
                        </div>

                        <div class="app-form-group message">
                          <textarea rows="4" class="app-form-control" name="mensaje" placeholder="Escribe tu mensaje" required ngModel></textarea>
                        </div>

                        <div class="app-form-group buttons">
                          <button type="submit" class="app-form-button">Enviar mensaje</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

          </div><!-- End Contact Form -->

        </div>

      </div>

    </div><!-- /Contact Section -->
  </div>
