<div id="contact">
  <div class="container">
    <h2>CONTACTO</h2>

    <div class="row">
      <!-- Imagen y texto -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6">
            <img src="assets/img/about.jpg" class="img-responsive" alt="Imagen sobre mí">
          </div>
          <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
            <p>Para consultas o colaboraciones, por favor contáctame a través del correo <strong>infoARROBAcompany.com</strong>.</p>
          </div>
        </div>
      </div>

      <!-- Formulario -->
      <div class="col-md-6">
        <div class="contact-card p-4">
          <form>
            <div class="form-group md-3">
              <label for="name"></label>
              <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" required>
            </div>

            <div class="form-group md-3">
              <label for="email"></label>
              <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" required>
            </div>

            <div class="form-group md-3">
              <label for="message"></label>
              <textarea class="form-control" id="message" rows="4" maxlength="250" placeholder="Escribe tu mensaje (máximo 250 caracteres)" required></textarea>
            </div>

            <button type="submit" class="btn btn-stroked">Enviar</button>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>
