<div id="intro">
  <div class="container d-flex justify-content-center mt-4">
    <div class="animate__animated animate__fadeIn">
      <div>
        <h1 class="title animate__animated animate__slideInDown animate__slow">SEBASTIÁN VILLEGAS</h1>
        <h3 class="profession animate__animated animate__slideInUp animate__slow">Software Developer</h3>
      </div>
      <div class="vertical-buttons">
        <button class="btn btn-outline-light animate__animated animate__fadeIn animate__delay-1s animate__fast" onclick="location.href='#portfolio'">PORTFOLIO</button>
        <button class="btn btn-outline-light animate__animated animate__fadeIn animate__delay-2s animate__fast" onclick="location.href='#contact'">CONTACTO</button>
      </div>
    </div>
  </div>
</div>
