<div class="page-header header-filter">
  <div class="container">
    <div class="card animate__animated animate__fadeIn">
      <div>
        <h1 class="title animate__animated animate__slideInDown animate__slow">SEBASTIÁN VILLEGAS</h1>
        <h3 class="profession animate__animated animate__slideInUp animate__slow">Software Developer</h3>
      </div>
      <div class="botones">
        <a href="#portfolio" class="btn btn-primary btn-lg animate__animated animate__fadeIn animate__delay-1s animate__fast">Portfolio</a>
        <a href="#contact" class="btn btn-outline-primary btn-lg animate__animated animate__fadeIn animate__delay-2s animate__fast">Contacto</a>
      </div>
    </div>
  </div>
</div>
