/* Estilos generales para la sección Intro
.intro {
  background: url(../../../assets/img/intro-bg.jpg) no-repeat right top;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}*/
/* Background styling */
/* Estilos para la card personalizada */

.custom-card {
  height: 100px;
  width: 800px;
  opacity: 0.1;
  background-color: rgba(128, 128, 128, 0.061);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos generales */
.page-header {
  background-image: url('../../../assets/img/intro-bg.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-filter {
  height: 100%;
  width: 100%;
}

.title {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  letter-spacing: 6px;
}

.profession {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  opacity: 0.8;
}

.botones {
  margin-top: 100px;
}

.btn {
  letter-spacing: 2px;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #1f1f1f;
  padding: 10px 30px;
  font-size: 1rem;
  margin: 0 20px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.btn-primary {
  border-color: #b8b8b8;
}

.btn-primary:hover {
  background-color: rgba(80, 104, 235, 0.206);
  color: #ffffff;
}

.btn-outline-primary {
  color: white;
  border-color: rgb(121, 121, 121);
}

.btn-outline-primary:hover {
  background-color: rgba(255, 255, 255, 0.206);
  color: #ffffff;
}
