<div id="intro">
  <div class="container d-flex justify-content-center mt-4">
    <div>
      <div class="aver">
        <h1 class="title" data-aos="zoom-in-down" data-aos-duration="2000">SEBASTIÁN VILLEGAS</h1>
        <h3 class="profession" data-aos="zoom-in-up" data-aos-duration="2000">Software Developer</h3>
      </div>
      <div class="vertical-buttons">
        <button class="btn btn-stroked" data-aos="flip-down" onclick="location.href='#pre-portfolio'">PORTFOLIO</button>
        <button class="btn btn-stroked" onclick="location.href='#contact'">CONTACTO</button>
      </div>
    </div>
  </div>
</div>
