html, body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin: 0;
  padding: 0;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Variables para el modo dark */
:root {
  --bg-color: #121212;
  --text-color: #e7e7e7;
  --card-bg: #121212;
  --btn-bg: #e7e7e7;
  --btn-text: #121212;
}

/* Variables para el modo light */
[data-theme='light'] {
  --bg-color: #e7e7e7;
  --text-color: #121212;
  --card-bg: #e7e7e7;
  --btn-bg: #121212;
  --btn-text: #e7e7e7;
}

/* Uso de variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-stroked {
  background-color: transparent;
  color: var(--btn-bg);
  border-color: var(--btn-bg);
}

.btn-stroked:hover {
  background-color: var(--text-color);
  color: var(--btn-text);
}

/* Botón seleccionado */
.btn-stroked.selected {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border-color: var(--btn-text);
}

h2 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 3rem;
  font-style: normal;
  letter-spacing: 6px;
  margin-bottom: 30px;
  margin-top: 40px;
}
