html, body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin: 0;
  padding: 0;
  color: #555;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #888;
}

/* Footer Section */
#footer {
	background: #262626;
}
#footer p {
	font-size: 15px;
	color: #666;
}
